<nav class="flex justify-between items-center border-b-[1px] border-solid border-black-400 shadow-lg h-14 bg-green-600 text-white">
    <ul class="list-none flex justify-around gap-32 pl-5">
        <li class="text-lg font-bold">Teacher</li>
    </ul>
    <div class="mr-5 font-bold"><%= link_to "Sign Out", root_path %> </div>
</nav>