<body class="bg-white-200">
    <div class="flex justify-center h-screen items-center flex-col">
    <h1 class="font-bold text-[5vh] mb-10">School Communication And Assessment System</h1>
    <div class="border-2 border-solid border-black-400 shadow-lg bg-white flex flex-col text-center items-center w-[370px] h-[280px] justify-center rounded-lg">
<!-- app/views/pages/admin_login.html.erb -->
<h2>Student Login</h2>

<% if flash[:alert] %>
  <p class="flash alert"><%= flash[:alert] %></p>
<% end %>

<form action="<%= student_log_path %>" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>

  <!-- CSRF token -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- Add a hidden field for account type -->
  <input type="hidden" name="account_type" value="student">

  <div>
    <input type="submit" value="Login">
  </div>
</form>

    </div>
</div>
</body>